/* Geist Variable Font Family */
@font-face {
  font-family: "Geist";
  src: url("/static/fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/static/fonts/Geist-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Geist Mono Variable Font Family */
@font-face {
  font-family: "Geist Mono";
  src: url("/static/fonts/GeistMono[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
