@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  @apply h-full;
}

#__next {
  @apply h-full;
}

.loading-dots::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.blinking-cursor > :not(pre):last-child::after {
  content: "";
  width: 8px;
  height: 16px;
  @apply bg-success-400;
  display: inline-block;
  @apply animate-cursor-blink;
  margin-left: 5px;
  position: relative;
  top: 4px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-3px, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(6px, 2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, -3px, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 3px, 0);
  }
}

#MessageBlock {
  @apply text-base font-normal leading-7 text-element-800;

  h1 {
    @apply text-element-950 text-5xl font-semibold;
    @apply pb-2 pt-3;
  }
  h2 {
    @apply text-element-950 text-4xl font-semibold;
    @apply pb-2 pt-3;
  }
  h3 {
    @apply text-element-950 text-2xl font-semibold;
    @apply pb-2 pt-3;
  }
  h4 {
    @apply text-element-950 text-lg font-bold;
    @apply pb-2 pt-2.5;
  }
  h5 {
    @apply text-element-950 text-lg font-medium;
    @apply pb-1.5 pt-2;
  }
  h6 {
    @apply text-element-950 text-base font-bold;
    @apply pb-1.5 pt-2;
  }
  strong {
    @apply font-semibold text-element-900;
  }
  a {
    @apply font-semibold text-action-500;
    transition: all 0.2s ease-in-out;
    &:hover {
      @apply text-action-400;
    }
    &:active {
      @apply text-action-600;
    }
  }
}
