@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  @apply h-full;
}

#__next {
  @apply h-full;
}

.loading-dots::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-cursor > :not(pre):last-child::after {
  content: "";
  width: 10px;
  height: 20px;
  @apply bg-success-400;
  display: inline-block;
  animation: cursor-blink 0.9s infinite;
  margin-left: 5px;
  position: relative;
  top: 4px;

  /* background:red */
}
