/* Only tailwind globals here, components and utilities in other file to handle priority */
@tailwind base;

html,
body,
main {
  @apply h-full;
}

#__next {
  @apply h-full;
}

.loading-dots::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

.blinking-cursor > :not(pre):last-child::after {
  content: "";
  width: 8px;
  height: 16px;
  @apply bg-success-400;
  display: inline-block;
  @apply animate-cursor-blink;
  margin-left: 5px;
  position: relative;
  top: 4px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-3px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(6px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, -3px, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 3px, 0);
  }
}
