@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 23.0769% 97.451%;
    --foreground: 243.1579 13.6691% 27.2549%;
    --card: 0 0% 100%;
    --card-foreground: 243.1579 13.6691% 27.2549%;
    --popover: 0 0% 100%;
    --popover-foreground: 243.1579 13.6691% 27.2549%;
    --primary: 209.0749 100% 55.4902%;
    --primary-foreground: 201.8182 100% 95.6863%;
    --secondary: 0 0% 96.8627%;
    --secondary-foreground: 219.1304 21.4953% 20.9804%;
    --muted: 240 3.0303% 93.5294%;
    --muted-foreground: 247.5 10.3448% 45.4902%;
    --accent: 240 3.0303% 93.5294%;
    --accent-foreground: 343.4483 23.9669% 23.7255%;
    --destructive: 0 62.1891% 60.5882%;
    --destructive-foreground: 260 23.0769% 97.451%;
    --border: 240 3.0303% 93.5294%;
    --input: 0 0% 100%;
    --ring: 0 0% 0%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 39.0123 100% 52.3529%;
    --chart-3: 10.3665 76.0956% 50.7843%;
    --chart-4: 332 100% 88.2353%;
    --chart-5: 141.8919 36.2745% 40%;
    --sidebar: 0 0% 96.8627%;
    --sidebar-foreground: 243.1579 13.6691% 27.2549%;
    --sidebar-primary: 208.9474 100% 55.2941%;
    --sidebar-primary-foreground: 201.8182 100% 95.6863%;
    --sidebar-accent: 240 3.0303% 93.5294%;
    --sidebar-accent-foreground: 343.4483 23.9669% 23.7255%;
    --sidebar-border: 240 3.0303% 93.5294%;
    --sidebar-ring: 210.8108 78.7234% 90.7843%;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.75rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.02);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.02);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 2px 4px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 4px 6px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 8px 10px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.1);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 250.9091 18.6441% 11.5686%;
    --foreground: 250 36% 90.1961%;
    --card: 251.25 20% 15.6863%;
    --card-foreground: 250 36% 90.1961%;
    --popover: 251.25 20% 15.6863%;
    --popover-foreground: 250 36% 90.1961%;
    --primary: 263.0769 32.5% 68.6275%;
    --primary-foreground: 250.9091 18.6441% 11.5686%;
    --secondary: 254.4828 14.8718% 38.2353%;
    --secondary-foreground: 250 36% 90.1961%;
    --muted: 254.1176 20.9877% 15.8824%;
    --muted-foreground: 258.9474 10.3825% 64.1176%;
    --accent: 271.7647 15.5963% 21.3725%;
    --accent-foreground: 345.5172 69.0476% 83.5294%;
    --destructive: 0 68.6747% 67.451%;
    --destructive-foreground: 250.9091 18.6441% 11.5686%;
    --border: 252 18.5185% 21.1765%;
    --input: 249.4737 19.5876% 19.0196%;
    --ring: 263.0769 32.5% 68.6275%;
    --chart-1: 263.0769 32.5% 68.6275%;
    --chart-2: 345.5172 69.0476% 83.5294%;
    --chart-3: 158.7692 31.401% 59.4118%;
    --chart-4: 35.7576 76.7442% 74.7059%;
    --chart-5: 215.8209 54.4715% 75.8824%;
    --sidebar: 250.9091 21.5686% 10%;
    --sidebar-foreground: 250 36% 90.1961%;
    --sidebar-primary: 263.0769 32.5% 68.6275%;
    --sidebar-primary-foreground: 250.9091 18.6441% 11.5686%;
    --sidebar-accent: 271.7647 15.5963% 21.3725%;
    --sidebar-accent-foreground: 345.5172 69.0476% 83.5294%;
    --sidebar-border: 249.4737 19.5876% 19.0196%;
    --sidebar-ring: 263.0769 32.5% 68.6275%;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.75rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.02);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.02);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 1px 2px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 2px 4px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 4px 6px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.04),
      1px 8px 10px 0px hsl(0 0% 10.1961% / 0.04);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
