# docker compose up
version: '3.4'
services:
  dust-front:
    container_name: dust-front
    build: ./front
    ports:
      - 3000:3000
    depends_on:
      - 'dust-api'
    environment:
      - URL=http://localhost:3000
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=25da29db5485fcd27d2f671c5e28d5df8f325e9470c36cb6bf0a9d19c662255a
      - DATABASE_URL=sqlite://localhost/:memory:?synchronize=true
      - GITHUB_ID=47ec837fcbac1c6f1690
      - GITHUB_SECRET=d59af0da231fc697d7dd8d3002ed1d9765e11c7f
      - THUM_IO_KEY=0-NONE
      - DUST_API=http://dust-api:3001
      - GA_TRACKING_ID=G-NONE
  dust-api:
    container_name: dust-api
    build: ./core
    ports:
      - 3001:3001
