steps:
  - id: 'Build Container Image'
    name: 'ghcr.io/depot/cli:latest'
    script: |
      # Extract env variables for build args
      yq e '.env' ${_CONFIG_FILE} > build-args.env
      
      depot build \
        --project 3vz0lnf16v \
        --provenance=false \
        -t ${_REGION}-docker.pkg.dev/${PROJECT_ID}/dust-images/${_IMAGE_NAME}:${SHORT_SHA} \
        -t ${_REGION}-docker.pkg.dev/${PROJECT_ID}/dust-images/${_IMAGE_NAME}:latest \
        -f ${_DOCKERFILE_PATH} \
        --build-arg COMMIT_HASH=${SHORT_SHA} \
        --build-arg-file=build-args.env \
        --push \
        .
    secretEnv:
      - "DEPOT_TOKEN"

timeout: 1200s

availableSecrets:
  secretManager:
    - versionName: projects/$PROJECT_ID/secrets/DEPOT_TOKEN/versions/latest
      env: DEPOT_TOKEN

options:
  automapSubstitutions: true
  logging: CLOUD_LOGGING_ONLY