[package]
name = "dust"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "dust"
path = "bin/dust.rs"

[[bin]]
name = "dust-api"
path = "bin/dust_api.rs"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["rc", "derive"] }
serde_json = "1.0"
pest = "2.0"
pest_derive = "2.0"
js-sandbox = "0.2.0-rc.0"
clap = { version = "3.2", features = ["derive"] }
colored = "2.0"
shellexpand = "2.1"
blake3 = "1.3"
async-trait = "0.1"
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1.20", features = ["full"] }
hyper-tls = "0.5"
itertools = "0.10"
async-fs = "1.6"
futures = "0.3"
async-std = "1.12"
lazy_static = "1.4"
regex = "1.6"
rand = "0.8"
uuid = { version = "1.1", features = ["v4"] }
parking_lot = "0.12"
chrono = "0.4"
axum = "0.5"
rusqlite = { version = "0.28", features = ["bundled", "chrono", "serde_json"] }
r2d2_sqlite = "0.21"
r2d2 = "0.8"
tokio-postgres = "0.7"
bb8 = "0.8"
bb8-postgres = "0.8"
urlencoding = "2.1"
url = "2.3"
dns-lookup = "1.0"
async-stream = "0.3"
eventsource-client = "0.11"
tera = "1.17"
fancy-regex = "0.11"
rustc-hash = "1.1"
bstr = "0.2"
base64 = "0.21"
cloud-storage = { version = "0.11", features = ["global-client"] }
qdrant-client = "1.0"
