[package]
name = "dust"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "dust"
path = "bin/dust.rs"

[[bin]]
name = "dust-api"
path = "bin/dust_api.rs"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["rc", "derive"] }
serde_json = "1.0"
pest = "2.0"
pest_derive = "2.0"
js-sandbox = "0.1"
clap = { version = "3.2", features = ["derive"] }
colored = "2.0"
shellexpand = "2.1"
blake3 = "1.3"
async-trait = "0.1"
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1.20", features = ["full"] }
hyper-tls = "0.5"
itertools = "0.10"
async-fs = "1.6"
futures = "0.3"
async-std = "1.12"
lazy_static = "1.4"
regex = "1.6"
rand = "0.8"
uuid = { version = "1.1", features = ["v4"] }
parking_lot = "0.12"
chrono = "0.4"
rusqlite = { version = "0.28", features = ["bundled", "chrono", "serde_json"] }
axum = "0.5.16"
r2d2_sqlite = "0.21.0"
r2d2 = "0.8.10"
urlencoding = "2.1.2"
