html {
  font-size: 14px;
}

body {
  font-family: darkmode-off-cc, sans-serif;
  font-size: 100%;
}

.animate-\[bgblink_200ms_3\] {
  animation: bgblink 200ms 3;
}

@keyframes bgblink {
  0%,
  100% {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  50% {
    --tw-bg-opacity: 1;
    background-color: rgb(243 232 255 / var(--tw-bg-opacity));
  }
}
