apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog
  template:
    metadata:
      labels:
        app: blog
        name: blog-pod
        admission.datadoghq.com/enabled: "true"
      annotations:
        ad.datadoghq.com/web.logs: '[{"source": "blog","service": "blog","tags": ["env:prod"]}]'
    spec:
      containers:
        - name: web
          image: gcr.io/or1g1n-186209/dust-blog:latest
          imagePullPolicy: Always
          command: ["npm", "run", "start"]
          ports:
            - containerPort: 3004
          envFrom:
            - configMapRef:
                name: blog-config
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
