apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
        name: metabase-pod

    spec:
      containers:
        - name: metabase
          image: metabase/metabase
          ports:
            - containerPort: 3000

          envFrom:
            - secretRef:
                name: metabase-secret

          env:
            - name: MB_REDIRECT_ALL_REQUESTS_TO_HTTPS
              value: "false"

            - name: MB_SITE_URL
              value: https://metabase.dust.tt

          resources:
            requests:
              cpu: 500m
              memory: 2Gi

            limits:
              cpu: 500m
              memory: 2Gi
