<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="local-preview"
                    android:scheme="${authScheme}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DemoPresentationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".notifications.DebugNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dust.mobile.DEBUG_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
