@tailwind base;
@import "./fonts.css";

/* Custom scrollbar styles */
@layer base {
  :root {
    --banner-height: 0px;
    --panel-height: calc(100dvh - var(--banner-height));
  }

  * {
    scrollbar-width: thin;
  }

  .dark * {
    scrollbar-color: theme("colors.gray.700") theme("colors.gray.900");
  }
}
