@tailwind base;
@tailwind components;
@tailwind utilities;

.s-blinking-cursor > :not(pre):last-child::after {
  content: "";
  width: 8px;
  height: 16px;
  @apply s-bg-success-400;
  display: inline-block;
  @apply s-animate-cursor-blink;
  margin-left: 5px;
  position: relative;
  top: 4px;
}

@keyframes bgblink {
  0%,
  100% {
    @apply s-bg-background;
  }

  50% {
    @apply s-bg-purple-100;
  }
}
