@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgblink {
  0%,
  100% {
    @apply s-bg-background;
  }

  50% {
    @apply s-bg-purple-100;
  }
}

@layer utilities {
  .s-scrollarea-viewport > div {
    display: block !important;
    height: 100%;
  }
}
