name: Lint & Build (sparkle)

on:
  push:
    paths:
      - package-lock.json
      - sparkle/**
      - .github/workflows/build-and-lint-sparkle.yml

permissions:
  contents: read
  pull-requests: write

jobs:
  check-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node Dependencies
        uses: ./.github/actions/setup-node-deps
      - name: Lint and build
        run: npm -w sparkle run lint && npm -w sparkle run build
