name: Lint & Build (viz)

on:
  push:
    paths:
      - package-lock.json
      - viz/**
      - .github/workflows/build-and-lint-viz.yml

permissions:
  contents: read
  pull-requests: write

jobs:
  check-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node Dependencies
        uses: ./.github/actions/setup-node-deps
        with:
          node-version: '22.22.0'
      - name: Build and lint
        run: npm -w viz run build && npm -w viz run lint