name: Build & Lint (connectors)

on:
  push:
    paths:
      - connectors/**
      - .github/workflows/build-and-lint-connectors.yml

jobs:
  check-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.15.0
          cache: "npm"
          cache-dependency-path: ./connectors/package-lock.json
      - working-directory: front
        run: npm install && npm run tsc && npm run lint && npm run format:check
