name: Lint & Build (extension)

on:
  push:
    paths:
      - sdks/js/**
      - extension/**
      - .github/workflows/build-and-lint-extension.yml

permissions:
  contents: read
  pull-requests: write

jobs:
  check-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.13.0
          cache: "npm"
          cache-dependency-path: ./extension/package-lock.json
      - name: Build SDK/JS
        working-directory: sdks/js
        run: npm install && npm run build
      - working-directory: extension
        run: npm install && npm run lint && npm run format:check && npm run package:chrome:production
        env:
          DATADOG_CLIENT_TOKEN: ${{ secrets.DD_CLIENT_TOKEN }}
