name: Lint & Build & Test (front)

on:
  push:
    paths:
      - package-lock.json
      - sdks/js/**
      - front/**
      - sparkle/**
      - .github/workflows/build-and-lint-front.yml

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  tests:
    name: Test Shard ${{ matrix.shardIndex }} of ${{ matrix.shardTotal }}
    strategy:
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7.2.5
        ports:
          - 5434:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node Dependencies
        uses: ./.github/actions/setup-node-deps
        with:
          build-sdks: "true"
          build-sparkle: "true"
          node-version: '22.22.0'
      - name: Install Postgres
        uses: dust-tt/postgresql-action@91c1ba371e7f9529945c312bb2883e9e0630063b
        with:
          postgresql docker image: mirror.gcr.io/postgres
          postgresql version: "14.13"
          postgresql db: front_test_shard_${{ matrix.shardIndex }}
          postgresql user: test
          postgresql password: test
          postgresql port: 5433
      - name: Run Tests
        working-directory: front
        env:
          FRONT_DATABASE_URI: "postgres://test:test@localhost:5433/front_test_shard_${{ matrix.shardIndex }}"
          REDIS_CACHE_URI: "redis://localhost:5434"
          REDIS_URI: "redis://localhost:5434"
          NODE_ENV: test
        run: npx tsx admin/db.ts && npm run test:ci -- --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }} --outputFile=junit-shard-${{ matrix.shardIndex }}.xml
      - name: Build Tests Report
        if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: "front/junit-shard-${{ matrix.shardIndex }}.xml"
          detailed_summary: true
          flaky_summary: true
          group_suite: true
          check_name: Tests Report (Shard ${{ matrix.shardIndex }}/${{ matrix.shardTotal }})
  tsgo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node Dependencies
        uses: ./.github/actions/setup-node-deps
        with:
          build-sdks: "true"
          build-sparkle: "true"
          node-version: '22.22.0'
      - name: Typecheck
        run: npm -w front run tsgo -- --version && npm -w front run tsgo
      - name: Build Temporal Bundles
        working-directory: front
        env:
          FRONT_DATABASE_URI: "postgres://fake:fake@localhost:5432/fake"
        run: npm run build:temporal-bundles
