name: Build & Lint (front)

on:
  push:
    paths:
      - front/**
      - .github/workflows/build-and-lint-front.yml

jobs:
  check-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.15.0
          cache: "npm"
          cache-dependency-path: ./front/package-lock.json
      - working-directory: front
        run: FRONT_DATABASE_URI="sqlite:foo.sqlite" XP1_DATABASE_URI="sqlite:bar.sqlite" npm ci && npm run build && npm run tsc && npm run lint && npm run format:check
