name: Lint & Build & Test (CLI)

on:
  push:
    paths:
      - package-lock.json
      - cli/**
      - .github/workflows/build-and-lint-cli.yml

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  all-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsecret-1-dev
      - name: Setup Node Dependencies
        uses: ./.github/actions/setup-node-deps
        with:
          build-sdks: "true"
      - name: Typecheck and Lint
        working-directory: cli
        run: npx tsc --version && npx tsc && npm run lint
