name: Deploy Viz

on:
  workflow_dispatch:
    inputs:
      regions:
        description: "Regions to deploy to"
        required: true
        default: "us-central1"
        type: choice
        options:
          - "us-central1"
          - "europe-west1"
          - "all"
      check_deployment_blocked:
        description: "Check #deployment locks or force deploy"
        required: true
        default: "check"
        type: choice
        options:
          - "check"
          - "force (dangerous)"

concurrency:
  group: deploy_viz
  cancel-in-progress: false

jobs:
  deploy:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      check_deployment_blocked: ${{ github.event.inputs.check_deployment_blocked == 'check' }}
      component: viz
      dockerfile_path: ./viz/Dockerfile
      enforce_main: true
      gcloud_ignore_file: .gcloudignore-prodbox
      regions: ${{ github.event.inputs.regions }}
      working_dir: ./
    secrets: inherit
