name: Deploy Nginx

on:
  workflow_dispatch:

concurrency:
  group: deploy_nginx
  cancel-in-progress: false

env:
  GCLOUD_PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ssh-key: "${{ secrets.PRODBOX_PRIVATE_DEPLOY_KEY }}"

      - name: Get short sha
        id: short_sha
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Notify Build And Deploy Start
        id: build_message
        uses: ./.github/actions/slack-notify
        with:
          step: "start"
          component: "http-proxy"
          image_tag: ${{ steps.short_sha.outputs.short_sha }}
          channel: ${{ secrets.SLACK_CHANNEL_ID }}
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}

      - name: "Authenticate with Google Cloud"
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.GCLOUD_SA_KEY }}"

      - name: Build the image on Cloud Build
        run: |
          mkdir empty
          cp ./nginx.Dockerfile empty
          cd empty
          chmod +x ../k8s/cloud-build.sh
          ../k8s/cloud-build.sh \
            --image-name=nginx-proxy \
            --dockerfile-path=./nginx.Dockerfile \
            --working-dir=./ \
            --gcloud-ignore-file=../.gcloudignore-nginx \
            --region=us-central1
          cd ..

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.INFRA_DISPATCH_APP_ID }}
          private-key: ${{ secrets.INFRA_DISPATCH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            dust-infra

      - name: Trigger dust-infra workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: '${{ github.repository_owner }}',
              repo: 'dust-infra',
              event_type: 'trigger-component-deploy',
              client_payload: {
                regions: 'us-central1',
                component: 'http-proxy',
                image_tag: '${{ steps.short_sha.outputs.short_sha }}',
                slack_thread_ts: "${{ steps.build_message.outputs.thread_ts }}",
                slack_channel: '${{ secrets.SLACK_CHANNEL_ID }}'
              }
            });

      - name: Notify Failure
        if: failure()
        uses: ./.github/actions/slack-notify
        with:
          step: "failure"
          component: "http-proxy"
          image_tag: ${{ steps.short_sha.outputs.short_sha }}
          channel: ${{ secrets.SLACK_CHANNEL_ID }}
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          thread_ts: "${{ steps.build_message.outputs.thread_ts }}"
