name: Publish CLI

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  id-token: write

concurrency:
  group: publish_cli
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    # This ensures the workflow only runs on main branch
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "npm"
          cache-dependency-path: ./package-lock.json
          registry-url: "https://registry.npmjs.org"

      - name: Upgrade npm for OIDC support
        run: npm install -g npm@latest

      - working-directory: cli
        run: npm ci && npm run build:prod && npm publish --provenance --access public
