name: Run DangerJS

on:
  pull_request:
    branches: [main]
    types: [edited, labeled, opened, pushed, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  danger-front:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Optimize compute resources by verifying changes in SQL models files and front/pages/api/v1/* before running Danger.
      - name: Check for file changes
        id: file_changes
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/main:refs/remotes/origin/main

          echo "Checking for changed files..."

          # Define monitored paths
          MONITORED_PATHS=(
            'front/lib/'
            'connectors/src/lib/models/'
            'connectors/src/resources/storage/models/'
            'front/pages/api/v1/'
            'sdks/js/'
            'front/package.json'
            'extension/package.json'
          )

          PATHS_STRING="${MONITORED_PATHS[*]}"

          CHANGED_FILES=$(git diff --name-only origin/main ${{ github.sha }} -- ${MONITORED_PATHS[@]})
          if [ -n "$CHANGED_FILES" ]; then
            echo "Changed files found:"
            echo "$CHANGED_FILES"
            echo "run_danger=true" >> $GITHUB_OUTPUT
            echo "::warning ::Files in ${PATHS_STRING} have been modified."
          else
            echo "No changed files found."
            echo "run_danger=false" >> $GITHUB_OUTPUT
          fi

      - name: Setup Node Dependencies
        if: ${{ steps.file_changes.outputs.run_danger == 'true' }}
        uses: ./.github/actions/setup-node-deps

      - name: Run Danger for front
        if: ${{ steps.file_changes.outputs.run_danger == 'true' }}
        run: cd front && npx danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
